body{
    background-color: black;
    height: 800vh;
}
.masthead {
    height: 180vh;
    min-height: 500px;
    background-image: linear-gradient(black, transparent, black 80%), url('.public/media/Darth1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  *{
    font-family: 'Pathway Gothic One', sans-serif;
  }
  h1, h2, h3, .h1, .h2, .h3 {
    font-family: 'Star Jedi', arial;
    text-transform: uppercase;
    
    color: #e71c1c;
  }
  .scritta1{
      position:absolute;
      top:250px;
      left: 600px;
      font-size: 60px;
  }
  .bordocard{
      border-bottom: 1px solid #e71c1c;
  }
  .paragrafodeath{
      font-size: 22px;
  }
  .stardestroyer{
    height: 80vh;
    min-height: 500px;
    background-image: url('./media/stardestroyer.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
  }
  .imbarazzo{
      font-size: 25px;
      color: #e71c1c;
  }
  .bordocard1{
    background: linear-gradient(120deg, black 50%, transparent, black), url(./media/stormgroup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;

}
.bordocard2{
    background: 
    linear-gradient(to right, #e71c1c 2px, transparent 2px) 0 0,
    linear-gradient(to right, #e71c1c 2px, transparent 2px) 0 100%,
    linear-gradient(to left, #e71c1c 2px, transparent 2px) 100% 0,
    linear-gradient(to left #e71c1c 2px, transparent 2px) 100% 100%,
    linear-gradient(to bottom, #e71c1c 2px, transparent 2px) 0 0,
    linear-gradient(to bottom, #e71c1c 2px, transparent 2px) 100% 0,
    linear-gradient(to top, #e71c1c 2px, transparent 2px) 0 100%,
    linear-gradient(to top #e71c1c 2px, transparent 2px) 100% 100%,
    background-repeat: no-repeat;
    background-size: 10px 10px

}
.bordocard2:hover{
    letter-spacing: 3px;
    transition: 0.3s;
}
.footerfondo{
    height: 100vh;
    min-height: 500px;
    background-image: linear-gradient(black 20%, transparent, black 90%), url('./media/footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}
  